.game{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: 300px;
  width: 300px;
  border: thin solid black;
}

.gameCell{
 border: thin solid black;
}

.winner{
  visibility: hidden;
}
.visible{
  visibility: visible;
} 